@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

ul, h1, h3, p {
    margin: 0;
}

header {
    width: 100%;
    height: auto;
}

header nav {
    width: 100%;
    background: linear-gradient(0deg,
            #100F0D,
            rgba(81, 83, 91, 0.5),
            rgba(167, 173, 193, 0.5),
            rgba(167, 173, 193, 0.5),
            rgba(81, 83, 91, 0.5),
            #100F0D);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

header nav ul li a {
    text-decoration: none;
    border-radius: 10px;
    display: block;
    width: 115px;
    height: 30px;
    line-height: 20px;
    padding: 2px;
    color: black;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    text-align: center;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

header>div {
    background-color: rgba(16, 15, 13, 0.5);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    background-color: rgba(16, 15, 13, 0.5);
    width: 10%;
    height: 50px;
    text-align: center;
    line-height: 60px;
}

.logo img {

    height: 125%;
    border-radius: 50%;
}

#barra-busqueda {
    background-color: rgba(16, 15, 13, 0.5);

    width: 50%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

#barra-busqueda form input {
    padding: 2px;
    width: 50%;
    color: black;
    height: 30px;
    border-radius: 5px;
}

#barra-busqueda form input[type="submit"] {
    background: linear-gradient(0deg,
            #100F0D,
            rgba(81, 83, 91, 0.5),
            rgba(167, 173, 193, 0.5),
            rgba(167, 173, 193, 0.5),
            rgba(81, 83, 91, 0.5),
            #100F0D);
    width: 15%;
    height: 30px;
    margin: 10px;
    color: white;
    border: 1px solid white;
}

footer {
    background-color: rgba(16, 15, 13, 0.8);
    color: white;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 22px;
}

.msg-error {
    color: red;
}

#barra-busqueda form input[type="submit"]:hover {
    background: linear-gradient(0deg,
            #100F0D,
            rgba(81, 83, 91, 0.5),
            rgba(167, 173, 193, 0.5),
            rgba(167, 173, 193, 0.5),
            rgba(81, 83, 91, 0.5),
            #100F0D);
    width: 15%;
    height: 30px;
    color: white;
    border: 1px solid green;
    font-size: 15px;
    font-weight: bold;
}

header nav ul li a:hover {
    scale: 1.2;
    color: white;
    text-decoration: underline;
}